.airbnb-container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
}

.airbnb-name, .airbnb-message, .airbnb-price{
  background-color: #E9E9E9FF;
  border: solid #C8C8C8FF 2px;
  height: 80px;
  padding: 10px;
  margin: 4px 4px;
}

.airbnb-message{
  flex-grow: 1;
}

.airbnb-name{
  padding: 10px 15px;
}

.airbnb-name .name{
  font-weight: bolder;
}

.airbnb-price .status{
  color: green;
  font-weight: bolder;
}
